<div class="topnav">
  <a href="#home">Spacestagram</a>
</div>
<div class="main" style="margin-top: 3%;">
  <div class="heart-shape"></div>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;600&display=swap" rel="stylesheet">
  <div class="wrapper">
      <div class="input-section">
          <label for="start">Start date:</label>
          <input type="date" id="start" [(ngModel)]="fromDate" name="trip-start" value="2021-08-01" min="2000-01-01"
              max="2021-12-31">
          <label for="end">End date (optional):</label>
          <input type="date" id="end" [(ngModel)]="toDate" name="trip-end" value="2021-08-01" min="2000-01-01"
              max="2021-12-31">
      </div>
      <input type="button" class="search-button" (click)="filter()" value="Search">
      <div class="left-col">
          <div *ngFor="let image of imageList; let i = index" class="post">
              <p class="title">{{image.title}}</p>
              <img [src]="image.url" class="post-image" alt="">
              <p class="description">{{image.explanation}}</p>
              <p class="date">{{image.date}}</p>
              <input type="button" class="button" (click)="callFunction(i,image.date)" [id]="image.date" value="Like">
          </div>
      </div>
  </div>
</div>
